@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Fjalla+One&family=Inconsolata:wght@600&family=Oswald:wght@400;500&family=Poppins&family=Raleway:ital,wght@1,300&family=Sacramento&family=Signika+Negative:wght@500&family=Teko:wght@500&display=swap');

:root {
    --main-color: #101e4a;
    --body-color: snow;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins, sans-serif;
}



.sidebar {
    width: 345px;
    position: absolute;
      left: 0;
      top: 16%;
      bottom: 1%;
    background: var(--main-color);
   
}

.sidebar-brand {
    height: 90px;
    padding-left: 2rem;
    padding: 1rem 0rem 1rem 2rem;
    color: white;
}


.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu {
    margin-top: 1rem;
}


.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 2rem;
}

.side-li {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;

}

.activate {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1ren;
    color: var(--main-color);
    border-radius: 30px 0 0 30px;
}

.side-li span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.main-content {
    margin-left: 345px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
      left: 345px;
      top: 16%;
    width: calc(100% - 345px);
    
}

header h2 {
    color: #222;

}

header label .bars {
    font-size: 1.7rem;
    padding-right: 1rem;

}
.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 50px;
    display: flex;
    align-items: center;

}
.search-wrapper input {
    width: 100%;
    border-radius: 8px;
}

.search-wrapper span {
    display: inline-block;
    margin-left: -10%;
    opacity: .5;
    font-size: 1rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}


.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--body-color);
}


main {
    margin-top: 200px;
    padding: 1rem;
    background: #f1f2f9;
    min-height: calc(100vh - 200px);

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.card-single div:last-child span {
    font-size: 3rem;
    color: var(--main-color);
}

.card-single div:first-child span {
      color: rgba(105, 97, 97, 0.815);
}

.card-single:last-child {
    background: var(--main-color);
}


.card-single:last-child div:last-child span,
.card-single:last-child div:first-child h1,
.card-single:last-child div:first-child span {
    color: #fff;
}

.card-single:last-child div:last-child span {
    color: #fff;
}
table {
    margin: 50px auto;
    width: 100%;
   
}



th {
    height: 60px;
    text-align: left;
    background-color: #101e4a;
    color: #ccc;
    font-weight: bold;
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

th:first-child {
    border-top-left-radius: 10px;
    padding-left: 15px;
}

tr:nth-child(even) {
    background-color: #cecccc;
}

td {
    position: relative;
    padding-left: 1rem;
    height: 40px;
    font-weight: 700;
    border-bottom: 1px solid #222222c5;
    vertical-align: bottom;
}
tr {
    position: relative;
}

.inv-btn {
    position: absolute;
      bottom: 5px;
      left: 93%;
    padding: 5px 10px;
    background-color: #101e4a;
    font-size: 14px;
    color: snow;
    font-family: Poppins, 'sans-serif';
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.inv-btn:hover {
     background-color: snow;
     color: #101e4a;
}

