@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Fjalla+One&family=Inconsolata:wght@600&family=Oswald:wght@400;500&family=Poppins&family=Raleway:ital,wght@1,300&family=Sacramento&family=Signika+Negative:wght@500&family=Teko:wght@500&display=swap');

@media screen and  (max-width: 800px) {

    .body {
        grid-template-columns: 200px 1fr !important;
    }
    .cards {
        display: grid !important;
        grid-template-columns: 1fr !important;

    }

    .plan-div {
        grid-template-columns: 1fr !important;
    }

    .main-content {
        display: grid !important;
        grid-template-columns: 1fr !important;
    }
}
:root {
    --main-color: #101e4a;
    --body-color: snow;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins, sans-serif;
}

.body {
    display: grid;
    grid-template-columns: 350px 1fr;
}

.sidebar {
    background: var(--main-color);
    margin-top: 100px;
   
}

.sidebar-brand {
    padding-left: 2rem;
    padding: 1rem 0rem 1rem 2rem;
    color: white;
}


.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu {
    margin-top: 1rem;
}


.sidebar-menu li {
    width: 100%;
    margin-bottom: 2rem;
    padding-left: 2rem;
}

.side-li {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;

}

.activate {
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1ren;
    color: var(--main-color);
    border-radius: 30px 0 0 30px;
}

.side-li span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}



header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    position: absolute;
      left: 200px;
      top: 16%;
    max-width: calc(100% - 150px);
    
}

header h2 {
    color: #222;

}

header label .bars {
    font-size: 1.7rem;
    padding-right: 1rem;

}
.search-wrapper {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 50px;
    display: flex;
    align-items: center;

}
.search-wrapper input {
    width: 100%;
    border-radius: 8px;
}

.search-wrapper span {
    display: inline-block;
    margin-left: -10%;
    opacity: .5;
    font-size: 1rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}


.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 1rem;
    margin-left: 10px;
}

.user-wrapper small {
    display: inline-block;
    color: var(--body-color);
}


main {
    margin-top: 200px;
    padding: 1rem;
    background: #f1f2f9;
    min-height: calc(100vh - 200px);

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.card-single:active {
    background-color: #101e4a;
}
.card-single div:last-child span {
    font-size: 3rem;
    color: var(--main-color);
}

.card-single div:first-child span {
      color: rgba(105, 97, 97, 0.815);
}

.card-single:last-child {
    background: var(--main-color);
}


.card-single:last-child div:last-child span,
.card-single:last-child div:first-child h1,
.card-single:last-child div:first-child span {
    color: #fff;
}

.card-single:last-child div:last-child span {
    color: #fff;
}

.plan-div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    place-items: stretch center;
    margin-top: 30px;

}

.plan-div div {
    position: relative;
    border: 2px solid #101e4a;
    border-radius: 8px;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    place-items: stretch center;
}

.plan-div div h1 {
    position: absolute;
      top: 10px;
      background-color: #101e4a;
      color: snow;
      text-align: center;
      font-weight: 900;
      font-size: 18px;
      font-family: monospace;
      padding: .5rem;
      width: calc(100% - 10px);

}

.plan-div div h3 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    padding: .3rem;
}

.plan-div div span {
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: snow;
    font-weight: bold;
    font-size: 15px;
    font-family: Poppins, sans-serif; 
    width: calc(100% - 10px);
    background-color: #101e4a;
    border-top-right-radius: 15px;
}

.plan-div div sub {
    margin: 30px;
    font-weight: 700;
    font-size: 14px;
}

.inv-btn {
    position: absolute;
      bottom: 10px;
    width: calc(100% - 10px);
    text-align: center;
    padding: 5px 10px;
    background-color: #101e4a;
    border-radius: 5px;
    font-size: 14px;
    color: snow;
    font-family: Poppins, 'sans-serif';
    font-weight: bold;
    transition: all .3s ease-in-out;
}
.inv-btn:hover {
     background-color: snow;
     color: #101e4a;
     opacity: 1;
}

