@tailwind base;
@tailwind components;
@tailwind utilities;


.sec1{
    background: url("Cryptocurrency.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
}



.fa-bars {
    color: snow;
    display: none;
}

.write-up {
    position: absolute;
      top: 50%;
    transform: translateY(-50%);
    padding: 2rem 1rem ;
    line-height: 2rem;
    color: snow;
    background-color: rgba(57, 40, 216, 0.3);
    
}

.write-up h1 {
    font-size: 35px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.write-up p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 19px;
}

.write-up button {
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid snow;
    border-radius: 10px;
    letter-spacing: 2px;
    font-family: sans-serif;
    cursor: pointer;
    transition: all 0.3s linear;
}

.write-up button:hover {
    background-color: midnightblue;
    transform: scale(1.1);
    border: none;
    border-radius: 5px;
}

.sec-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    margin: 30px 30px;
}

.sec-main div {
    text-align: center;
    color: #5c5c5c;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(20, 20, 20, 0.5);
    transition: all .3s cubic-bezier(0.01, 0.43, 1, 0.48);
}

.sec-main div h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.sec-main div p {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 2rem;
}

.icons {
    margin-left: 30px;
    font-size: 30px;
    color: #101e4a;
    transition: all .3s cubic-bezier(0.01, 0.43, 1, 0.48);
    
}

.sec-main div:hover {
    background-color: #101e4a;
    color: snow;
    border: none;
}

.sec-main div:hover .icons {
    color: snow;
}

#quality {
    position: relative;
    background-color: #101e4a;
    padding: 60px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#quality h2 {
    position: absolute;
      top: 0;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;
   text-align: center;
   color: #f4fdff;
   border-bottom: 2px solid white;
}

.sec-concept {
    background-image: linear-gradient(to bottom, rgba(23, 42, 150, .6), rgba(23, 42, 150, .6)), url('fun.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 600px;
    border-radius: 10px;
    
}

.sec-concept div {
    text-align: center;
}

#chooseUs-icons {
    font-size: 50px;
    color: whitesmoke;
    padding: 10px;
    border: 2px solid #101e4a;
    border-radius: 10px;
}

.sec-concept h3 {
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.sec-concept p {
    color: white;
    opacity: .8;
    font-size: 14px;
    font-family: sans-serif;
}

.arr-left {
   position: absolute;
     left: 10%;
   transform: translateX(-50%);
   color: snow;
   font-size: 18px;
   cursor: pointer;
   animation: pulse 2s 1s linear infinite;
   display: none;
    
}

.arr-right {
    position: absolute;
      right: 10%;
    transform: translateX(-50%);
    color: snow;
    font-size: 18px;
    cursor: pointer;
    animation: pulse 2s 1s linear infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
        transform: none;
    }

    50% {
        opacity: .7;
        transform: scale(.8);
    }

    100%{
        opacity: 1;
        transform: none;

    }
}

.goals {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.6)), url('ck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 10px;
    text-align: center;
    margin: 30px 10px;
}

.goals h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: #9e3b01;
}

.goals p {
    font-family: Arial, Helvetica, sans-serif;
    color: #5c5c5c;
    line-height: 1.5rem;
    font-size: 13px;
}

.goals p span {
    color: #101e4a;
    font-weight: 800;
    font-size: 18px;
    font-style: italic;
}

.goals button {
    border: none;
    background-color: #9e3b01;
    color: snow;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s linear;
    transform: scale(.9);
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 3px 5px rgba(20, 20, 20, 0.5);
}

.goals button:hover {
    color: #101e4a;
    background-color: transparent;
    border: 2px solid #9e3b01;


    
}

.steps {
    padding: 20px 10px;
}

.steps h2 {
    text-align: center;
    background-color: #101e4a;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
}

.steps h3 {
    color: #9e3b01;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}

.steps li {
    list-style-type: none;
    margin: 25px 10px;
}

.steps li p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #3d5a80;
}

.steps button {
    border: none;
    background-color: #9e3b01;
    color: white;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(20, 20, 20, 0.5);
    transition: all .3s linear;
    
}

.steps button:hover {
    background-color: transparent;
    border: 1px solid #9e3b01;
    color: #9e3b01;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    position: relative;
    
}


.reviews div {
    background-color: #101e4a;
    position: relative;
    width: 50rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 6px 5px rgba(20, 20, 20, 0.5);
    padding: 5rem 1rem;
}

.reviews div img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.reviews div p {
    font-family: sans-serif;
    color: rgb(119, 118, 118);
    font-size: 14px;
}

.reviews div .name {
    position: absolute;
      right: 15%;
    transform: translateX(-50%);
    
}

.reviews div .state {
    position: absolute;
      bottom: 10px;
      right: 18%;
}

.ready {
    background-image: linear-gradient(to bottom, rgba(2, 8, 46, 0.7), rgba(2, 8, 46, 0.7)), url('btc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 20px auto;
    padding: 40px;
    text-align: center;
}

.ready p {
    font-size: 60px;
    color: #c8d8ec;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.ready button {
    background-color: transparent;
    color: #c8d8ec;
    border: 2px solid snow;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 15px;
    padding: 7px;
    cursor: pointer;
    transition: all .2s cubic-bezier(0.01, 0.68, 0.65, 0.07);
}

.ready button:hover {
    transform: scale(.9);
    background-color: #101e4a;
    color: snow;
    border: none;
}

#newsletter {
    margin: 30px;
    padding: .75rem;
}

#newsletter label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-right: 20px;
    color: #101e4a;
}

#newsletter input[type=email] {
    margin-right: 20px;
    width: 300px;
    border-radius: 5px;
    padding: 6px;
    border: 1px solid black;
}

#newsletter input[type=email]:focus {
    outline: none;
    border: none;
}

#newsletter input[type=submit] {
    background-color: #101e4a;
    border: none;
    border-radius: 15px;
    color: #f4fdff;
    padding: 8px;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.01, 0.68, 0.65, 0.07);
}

#newsletter input[type=submit]:hover {
    color: #101e4a;
    background-color: transparent;
    border: 2px solid #5c5c5c;
    font-weight: bold;
}

