@media screen and (max-width: 800px) {
    .main {
        grid-template-columns: 1fr !important;
    }

    .button {
        grid-gap: 20px !important;
        place-items: center !important;
    }
}

.sec-2 {
    padding: 1rem;
 }
 
 .main {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 20px;
 }
 
 .left {
    background: linear-gradient(to bottom, rgba(23, 42, 150, .6), rgba(23, 42, 150, .6)), url("btc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 2rem;
    line-height: 1.5rem;
    border-radius: 10px;
    box-shadow: -5px 5px 5px rgba(20, 20, 20, 0.5);
    
 }
 
 .sub {
     color: white;
     font-family: sans-serif;
     font-size: 16px;
     font-weight: 600;
 }
 
 strong {
     font-size: x-large;
     font-weight: 900;
 }
 
 .button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    margin-top: 30px;
 }
 
  button {
     background-color: snow;
     padding: 8px;
     border: none;
     border-radius: 5px;
     color: #001540;
     font-weight: 600;
     box-shadow: 0px 5px 5px rgba(20, 20, 20, 0.5);
     cursor: pointer;
     transition: all .3s ease-in-out;
 }
 .join {
     background-color: #9e3b01;
     color: snow;
 }
 
 .mk:hover {
     background-color: #001540;
     color: snow;
     border: 1px solid snow;
 }
 
 .join:hover {
     background-color: snow;
     color: #9e3b01;
     border: 1px solid #9e3b01;
 }
 
 

 
 .right {
     border-radius: 8px;
     box-shadow: 5px 5px 5px rgba(20, 20, 20, 0.5);
     padding: .7rem;
     
    
 }
 
 
 .shape {
     background-color: #001540;
     height: 80px;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     position: relative;
     text-align: center;
 }
 
 
 .input-div {
     margin: 50px 20px;
     border-bottom: 2px solid #001540;
     display: flex;
     justify-content: space-between;
     padding: 10px;
 }
 
 .input-div input {
     width: 100%;
     border: none;
     outline: none;
 }
 
 input::placeholder {
     font-weight: 600;
     opacity: .6;
 }
 
 
 .user-pen {
     text-align: center;
     position: relative;
 }
 
 
 #user {
   background-color: snow;
   color: #001540;
   padding: 1rem;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   position: absolute;
     top: -0.3rem;
     left: 50%;
   transform: translate(-50%, -50%);
 }
 
 
 .fa-user-pen {
     font-size: 22px;
 }
 
 .ic {
     font-size: 14px;
     color: #001540;
     opacity: .7;
 }
 
 #eye:hover {
     cursor: pointer;
     opacity: 1;
 }
 
 .dir {
     display: flex;
     justify-content: space-around;
     position: relative;
       top: -1.5rem;
 }
 
 .log {
     font-size: 14px;
     font-family: sans-serif;
     font-weight: bold;
     color: chocolate;
 }
 
 a {
     text-decoration: none;
     color: #001540;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 12px; 
     cursor: pointer;
     transition: all .3s ease-in-out;
 }
 
 a:hover {
     opacity: .7;
 }
 
 
 .btn-div {
     display: flex;
     flex-direction: column;
     row-gap: 2rem;
 
 }
 
 #btn {
     background-color: #001540;
     color: snow;
     font-weight: 700;
     
 }
 
 .google {
     background-color: rgba(165, 0, 0, 0.911);
     color: snow;
     font-weight: bold;
     display: flex;
     align-items: center;
     justify-content: center;
     column-gap: 5px;
 }
 
 .google-icon{
   background-color: rgb(15, 95, 15);
   padding: 5px;
   font-size: 25px;
   border-radius: 50%;
 }
 
 
 
 .fb {
     background-color: #011b4e;
     color: snow;
     font-weight: bold;
     display: flex;
     align-items: center;
     justify-content: center;
     column-gap: 5px;
 }

 .fb-icon {
    background-color: snow;
    padding: 5px;
    font-size: 25px;
    font-weight: 800;
    border-radius: 50%;
    color:#011b4e;
 }
 
 